<div class="new_api_title">
  Share An API 
</div>

<div class="medium-8 medium-centered columns">
  <%= form_for Api.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, id: 'Name' %>
    <%= f.label :link %>
    <%= f.text_field :url, id: 'URL' %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :category %>
    <%= f.select :category, options_for_select(Api::CATEGORIES) %>
    <%= f.label :free, 'Free to Use?'%>
    <%= f.collection_radio_buttons(:free, [[true, 'Yes'], [false, 'No']], 
                                   :first, :last) %> <br />
    <div class="centered" style="margin-top: 10px;">
      <%= f.submit 'Add API', class: 'button' %>
    </div>
  <% end %>
</div>
