<li><%= link_to 'SHARE AN API', new_api_path %></li>
<li><%= link_to 'VIEW BY CATEGORY', page_path('about') %></li>
<li><%= link_to 'VIEW BY POPULARITY', page_path('about') %></li>
<li><%= link_to 'SHOW RANDOM', page_path('about') %></li>
<li><%= link_to 'ABOUT', page_path('about') %></li>

  <li class="has-form">
    <div class="row collapse"style="width: 26%;text-align: right; position: absolute; right: 0;">
      <div class="large-8 small-9 columns">
    <%= form_tag(apis_path, method: 'get', id: 'search-form') do %>
        <%= text_field_tag :search, params[:search],
          placeholder: "Search APIs and Tags", id: 'search-field' %>
      </div>
      <div class="large-4 small-3 columns">
        <%= submit_tag "Search", class: 'alert button expand' %>
      <% end %> 
      </div>
    </div>
  </li>

