<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body style="background-color: #9e9e9e">
		<div class="topper">
			<%= render 'layouts/topper' %>
		</div>

		<nav class="top-bar" data-topbar>
			<div class="top-bar-section">
				<ul>
					<%= render 'layouts/navigation_links' %>
				</ul>
			</div>
		</nav>

		<% unless flash.keys[0] == nil %>
			<div data-alert class="alert-box">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "flash #{key}") %>
				<% end %>
			</div>
		<% end %>

		<%= yield %>

	</body>
</html>
